# AWS SDK
boto3>=1.26

# scrapping webpages
requests>=2.28

# Used for parsing web page content
beautifulsoup4>=4.12

# Used to extract readable text from web pages
readability-lxml>=0.8.1

# This library is used to read .env files (although AWS configure is recommended, it is sometimes still needed to read configurations such as S3 Bucket names).
python-dotenv>=1.0.0

# Used to run tests
pytest>=7.0
